---
title: The NEW MBA
---
{% include head.html color="light" %}

<div class="bg-newmba-dark-green">

{% include nav.html color="dark" %}

<div class="newmba-offwhite w-100 pv4 relative">
  <div class="absolute right-0 top-0 dn db-l">
    <img src="/images/waves.svg" />
  </div>
  <div class="mw8 center ph2">
    
    <h1 class="headline mb4">Expand Your <br>Ways of Working</h1>
    <h2 class="mw7 mt0 fw4 f2 nunito lh-title">Become executive-ready by learning how to <br>be effective in the <span class="newmba-green i">modern world of work</span></h2>

    
    <div class="pb5 w-50-l flex-wrap-l tl pv4 mv4">
      <div class="pv2 w-100">Get the free weekly newsletter</div>  
      
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/newmba"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
        class="embeddable-buttondown-form flex items-center w-100 f4-l f5"
      >
        <input placeholder="Email Address" type="email" name="email" id="bd-email" class="w-100 input-reset ba b--black-20 pv3 ph4 border-box br2 br--left">
        <input type="hidden" name="metadata__cta" value="homepage">
        <input type="submit" value="Subscribe" class="input-reset w-auto-ns bg-newmba-green white pv3 ph4 ba b--newmba-green bg-hover-mid-gray br2 br--right pointer">
        </form>

    </div>
    </div>



  </div>

</div>


</div>

<div class="bg-newmba-offwhite black w-100 ph2">
  <div class="mw8 center pv4 bt b--newmba-green bb b--newmba-green">
    <h2 class="cormorant f1">Latest Writing <span class="f3"><a class="link newmba-green" href="/blog/">see all</a></span></h2>
    
    <div class="flex-wrap flex-l">

      {% include latest-posts.html %}

    </div>
  
  </div>

  </div>





</div>

{% include footer.html %}

</body>

</html>