---
title: The NEW MBA
---
{% include head.html color="light" %}

<div class="bg-newmba-dark-green"></div>

{% include nav.html color="dark" %}

<div class="bg-newmba-offwhite w-100 pv4">
  <div class="mw8 center ph2">
    <div class="w-50-l">
            <h1 class="headline cormorant fw5 mb0">Expand your ways of working</h1>
    <h2 class="mt0 fw4 f2 cormorant">
      Increase your agency.
    <br>Become more confident.
    <br>Operate with clarity.</h2>
    <div class="flex pb5">
      <input class=" pa3" placeholder="Email address" />
      <div class="bg-newmba-green white pa3">Join</div>
    </div>
    </div>
    <div class="w-50-l">
    </div>


  </div>
</div>


<div class="bg-newmba-dark-green newmba-offwhite">
  <div class="mw8 center pa4">
  <h2 class="cormorant">The world of work is changing.</h2>
  </div>
</div>





</div>
</body>

</html>