---
title: The NEW MBA
---
{% include head.html color="light" %}

<div class="bg-newmba-dark-green">

{% include nav.html color="dark" %}

<div class="newmba-offwhite w-100 pv4">
  <div class="mw8 center ph2">
    <div class="w-90">
            <h1 class="headline cormorant fw5 mb2">Expand your Ways of Working</h1>
    <h2 class="mt0 fw4 f2 cormorant">See the world of work in new ways and increase the impact and influence of your work.</h2>

    <div class="pt5">Join the free weekly newsletter</div>
    <div class="flex pb5 w-50">
      
      <input placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
      <input type="submit" class="input-reset w-100 w-auto-ns bg-newmba-green black f5 pv2 pv3-ns ph4 ba b--newmba-green bg-hover-mid-gray">
    </div>
    </div>


  </div>

<div class="mw8 center pv4 bt b--newmba-green">
  <h2 class="cormorant f1">It's about the <span class="i newmba-green">work around the work</span></h2>

  <div class="mw7 f3 lh-copy">
  We spend our early careers chasing skills - things that will help us do the work. But everyone reaches a point in their career where knowing how to do the work isn't enough.
  <br><br>
  We're told we need skills, but we're judged by our impact. And impact requires collaboration, leadership, communication.
  <br><br>
  To reach senior roles, to work with imapct, we need to get better at the work around the work. 
  <img src="/images/todolist.png" />
  But how do you learn these skills?
  <br><br>
  The NEW MBA is for people who know how to do the work, but want to have more imapct by learning how to do the work around the work.
  </div>

</div>


</div>

<div class="bg-newmba-offwhite black w-100">
  <div class="mw8 center pv4 bt b--newmba-green bb b--newmba-green">
    <h2 class="cormorant f1">Latest Writing</h2>
    

      {% for post in site.posts %}
  
      <div class="pv2 mv0">
          <div class="f4"><a href="{{ post.url }}">{{ post.title }}</a></div>
          <div class="f5">{{post.subtitle}}</div>
      </div>
      
      {% endfor %}
  
  </div>

  <div class="mw8 center pv4 bt b--newmba-green ">
    <h2 class="cormorant f1">Courses</h2>
    

      Coming soon
  
  </div>  

  </div>





</div>

{% include footer.html %}

</body>

</html>