---
title: The NEW MBA
---
{% include head.html color="light" %}

<div class="bg-newmba-dark-green">

{% include nav.html color="dark" %}

<div class="newmba-offwhite w-100 pv4" style="background-image:url(https://newmba.co/images/waves.svg); background-repeat:no-repeat; background-position: right;">
  <div class="mw8 center ph2">
    
    <h1 class="headline mb4">Expand Your <br>Ways of Working</h1>
    <h2 class="mw7 mt0 fw3 f2 nunito">Become executive-ready by learning how to <br>be effective in the <span class="newmba-green i">modern world of work</span></h2>

    
    <div class="pb5 w-50-l center flex-wrap-l tl pv4 mv4">
      <div class="pv2 w-100">Get the free weekly newsletter</div>  
      
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/newmba"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
        class="embeddable-buttondown-form flex items-center w-100"
      >
        <input placeholder="Email Address" type="email" name="email" id="bd-email" class="w-100 f5 input-reset ba b--black-20 pv3 ph4 border-box br2 br--left">
        <input type="hidden" name="metadata__cta" value="homepage">
        <input type="submit" class="input-reset w-auto-ns bg-newmba-green black f5 pv3 ph4 ba b--newmba-green bg-hover-mid-gray br2 br--right pointer">
        </form>

    </div>
    </div>


  </div>

<div class="mw7 center pv4 ph2 bt b--newmba-green">
  <h2 class="mw7 center cormorant f1 fw5">What if “doing the work” isn't enough?</h2>

      <div class="nunito f3 lh-copy mw7">

        The world of work is complex, collaborative and… changing. To have an impact in this environment we need to learn how to see the world of work in new ways.
      <br><br>
        Every business and every project exists in overlapping circles of contexts: the markets we operate in, the ways work gets done, the economic environment and the people around us. 
        <br><br>
        How we react to work across these contexts reflects how successful we are and how much impact we can have. 
        In order to truly make a difference, we need to do more than the work in front of us, we need to learn how to do <span class="newmba-green b">the work around the work</span>.
        
<div class="w-100 tc pt3">
<img class="" src="/images/concentric.svg"/>
</div>

The <span class="newmba-green b">NEW MBA</span> is an exploration of what it takes to be effective in the modern world of work. We’ll learn how to see work from new angles, see projects in a new light and learn the art of effectiveness, influence, and strategic thinking.
<br><br>  
After all, your career depends on it. This isn’t just “being strategic” or "managing up" (though those are both important) - it's your work taking its rightful place within the larger context.
<br><br>
It’s about building careers that have agency and potential. It’s about interesting work. It’s about working better with the people around us. It’s heads-up work.
<br><br>
This is the next decade of my career. I'm deeply interested in these ideas and enjoy looking at work from new angles, exploring the context of our work and how to have more influence on the world around us. I want to help you build a more resilient, rewarding and remarkable career.
<br><br>
Join me and turn your curiosity into a career advantage. 
<br><br>
Thanks, <a class="newmba-green link" href="https://tomcritchlow.com/">Tom</a>
      </div>

    </div>

</div>


</div>

<div class="bg-newmba-offwhite black w-100 ph2">
  <div class="mw8 center pv4 bt b--newmba-green bb b--newmba-green">
    <h2 class="cormorant f1">Latest Writing <span class="f3"><a class="link newmba-green" href="/blog/">see all</a></span></h2>
    
    <div class="flex-wrap flex-l">

      {% include latest-posts.html %}

    </div>
  
  </div>

  </div>





</div>

{% include footer.html %}

</body>

</html>