<div class="flex-wrap tl mv4 w-100">
    <div class="pv2 w-100">Join the free weekly newsletter</div>  
    <form
    action="https://buttondown.email/api/emails/embed-subscribe/newmba"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
    class="embeddable-buttondown-form flex items-center w-100"
  >
    <input placeholder="Email Address" type="email" id="bd-email" name="email" class="w-75 f5 input-reset ba b--black-20 pv3 ph4 border-box br2 b--left">
    <input type="submit" value="Submit" class="input-reset w-25 w-auto-ns bg-newmba-green black f5 pv3 ph4-l ph2 ba b--newmba-green bg-hover-mid-gray br2 b--right">
  </form>


  </div>