<div class="mw9 w-100 ph2 ph4-l flex pv2 bb b--newmba-green items-center h3 justify-between center navcontainer newmba-offwhite bg-newmba-dark-green">
  <div class="pr4 "><a href="/"><img class="logo" src="/images/logo-white.svg" /></a></div>

  <div class="fr dib dn-l pt1">    
    <div id="hamburger" class="hamburger hamburger--squeeze">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

  </div>

  <div id="mobilenav" class="absolute dn w-100 left-0 top-2 mt4">
    <div class="f2 pa4 w-100 bg-newmba-dark-green absolute bb b--newmba-green">
    <div class="mobilenavlink fw6 pv3">
      <div class="flex justify-between items-center">
      <div>Blog</div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h2" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
      <div class="dn mobilenavsubmenu f3">
        <div class="newmba-green">Latest posts</div>
        <div class="nunito"><a class="link newmba-offwhite" href="/testing-post">Welcome to the NEW MBA</a></div>
        Start here
      </div>
    </div>
    <div class="mobilenavlink fw6 pv3">Blog >
      <div class="dn mobilenavsubmenu f3">
        <div class="newmba-green">Latest posts</div>
        <div class="nunito"><a class="link newmba-offwhite" href="/testing-post">Welcome to the NEW MBA</a></div>
        Start here
      </div>
    </div>
    <div class="mobilenavlink fw6 pv3">Blog >
      <div class="dn mobilenavsubmenu f3">
        <div class="newmba-green">Latest posts</div>
        <div class="nunito"><a class="link newmba-offwhite" href="/testing-post">Welcome to the NEW MBA</a></div>
        Start here
      </div>
    </div>    
  </div>
  </div>

  <div class="dn flex-l items-center f5">
    <div class="navlink ph4">
      <div class="h3 pv2 flex items-center"><a class="link newmba-offwhite" href="/blog">Blog</a></div>
      <div class="absolute w-100 left-0  menudiv h5 bb bt b--newmba-green bg-newmba-dark-green">
        <div class="mw8 center flex pv2 h-100">
          <div class="w-two-thirds br b--newmba-green mr4 ">
            <h3 class="nunito newmba-green ttu f5">Latest Writing</h3>
            
            <div class="nunito"><a class="link" href="/testing-post">Welcome to the NEW MBA</a></div>
            <div class="nunito">Welcome to the NEW MBA</div>
            <div class="nunito">June 12th</div>

          </div>
          <div class="w-third">
            <h3 class="nunito newmba-green ttu ">Blog</h3>
            Start here 
          </div>
        </div>
      </div>
    </div>

    <div class="ph4"><a href="/consulting/">Consulting</a></div>
    <div class="ph4">Courses</div>
    <div class="ph4">Library</div>
    <div class="ph4">About</div>
    <div class="ph4">
      <svg xmlns="http://www.w3.org/2000/svg" class="newmba-offwhite" fill="currentColor" x="0px" y="0px" width="30"
        height="30" viewBox="0 0 30 30">
        <path
          d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z">
        </path>
      </svg>
    </div>
  </div>
</div>

<script>
  var $hamburger = $(".hamburger");
  $hamburger.on("click", function(e) {

    $hamburger.toggleClass("is-active");
    $("#mobilenav").toggleClass("dn");
    $("#mobilenav").toggleClass("flex");
    $("#mobilenav").toggleClass("flex-wrap");

  });
  
$('.mobilenavlink').on('click', function() {
  $(this).children('.mobilenavsubmenu').toggleClass("dn");
  $(".chevron").toggleClass("rotated");
});

</script>