<div class="mw9 w-100 ph4 flex pv2 bb b--newmba-green items-center h3 justify-between center navcontainer">
  <div class="pr4 "><img class="logo" src="/images/logo-black.svg" /></div>
  <div class="flex items-center f5">
    <div class="navlink ph4">
      <div class="h3 pv2 flex items-center"><a class="link" href="/blog">Blog</a></div>
      <div class="newmba-offwhite absolute w-100 left-0 bg-newmba-dark-green menudiv h5 bb b--black-10">
        <div class="mw7 center flex">
          <div class="w-50">
            <h3 class="nunito">Latest Writing</h3>
            <ul>Notes on Executive Dashboards</ul>
            <ul>Notes on Executive Dashboards</ul>
            <ul>Notes on Executive Dashboards</ul>
            <ul>Notes on Executive Dashboards</ul>
          </div>
          <div class="w-50">
            <h3 class="nunito">Topics</h3>
            <span class="f5 pa1 mv1 bg-newmba-light-green newmba-green ttu fw8 dib">seeing like an executive</span>
            <span class="f5 pa1 mv1 bg-newmba-light-green newmba-green ttu fw8 dib">new work tools</span>
            <span class="f5 pa1 mv1 bg-newmba-light-green newmba-green ttu fw8 dib">soft power</span>
            <span class="f5 pa1 mv1 bg-newmba-light-green newmba-green ttu fw8 dib">consulting skills</span>
            <span class="f5 pa1 mv1 bg-newmba-light-green newmba-green ttu fw8 dib">networked careers</span>
          </div>
        </div>
      </div>
    </div>

    <div class="ph4">Consulting</div>
    <div class="ph4">Courses</div>
    <div class="ph4">Library</div>
    <div class="ph4">About</div>
    <div class="ph4">
      <svg xmlns="http://www.w3.org/2000/svg" class="black" fill="currentColor" x="0px" y="0px" width="30"
        height="30" viewBox="0 0 30 30">
        <path
          d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z">
        </path>
      </svg>
    </div>
  </div>
</div>
</div>