{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-offwhite w-100">

<div class="bg-newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <h1 class="headline cormorant fw5 mb2">Writing</h1>
        <h2 class="mt0 fw4 f2 cormorant">Inquiries into being effective in the modern world of work</h2>
      </div>
    
      <div class="pb5 w-50-l center flex-wrap-l tl pv4 mv4">
        <div class="pv2 w-100">Get the free weekly newsletter</div>  
        
          <form
          action="https://buttondown.email/api/emails/embed-subscribe/newmba"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
          class="embeddable-buttondown-form flex items-center w-100"
        >
          <input placeholder="Email Address" type="email" name="email" id="bd-email" class="w-100 f5 input-reset ba b--black-20 pv3 ph4 border-box br2 br--left">
          <input type="hidden" name="metadata__cta" value="homepage">
          <input type="submit" class="input-reset w-auto-ns bg-newmba-green black f5 pv3 ph4 ba b--newmba-green bg-hover-mid-gray br2 br--right pointer">
          </form>
  
      </div>

    </div>

</div>



<div class="mw8 center ph2 pv4 bt b--newmba-green">

<div class="pv2 tracked newmba-green">LATEST WRITING</div>

    {% for post in site.posts %}

    <a class="pv4 db flex-l flex-wrap link black dim" href="{{post.url}}">

        <div class="w-third-l pr2-l">
            <img src="{{post.og}}" />
        </div>

        <div class="w-two-thirds-l pl2-l">
            
            <div class="f2 pb3">{{post.title}}</div>
            <div class="f3">{{post.subtitle}}</div>
            <div class="black-30 f5 tracked TTU pt3">{{ post.date | date: "%B %-d, %Y" }}</div>
            
        </div>

    </a>

    
    {% endfor %}

</div>

</div>

{% include footer.html %}