{% include head.html %}

{% include nav.html color="dark" %}


<div class="bg-newmba-dark-green">
    <div class="flex mw8 center">

    <div class="w-50-l">
        <h2>NEW MBA Blog</h2>
        <div class="pt5">Join the free weekly newsletter</div>
        <div class="flex pb5 w-50">
        
        <input type="email" name="email" placeholder="Your Email Address" id="bd-email" class="input-reset ba b--black-10 fl black-80 bg-white pa2 pv3 lh-solid w-70 w-75-m w-70-l br2-ns br--left-ns">
        <input type="submit" value="Subscribe" class="button-reset fl pv3 tc ba b--black-10 bg-animate bg-newmba-green newmba-offwhite pointer w-30 w-25-m w-30-l br2-ns br--right-ns">
        </div>
    </div>

    <div class="w-50-l">
        New? Start here
    </div>

    </div>

</div>

{% for post in site.posts %}

<div class="pv0 mv0">
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="f5 black-50 i">{{post.subtitle}}</span>
</div>

{% endfor %}



</div>