{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-offwhite w-100">

<div class="bg-newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <h1 class="headline cormorant fw5 mb2">Writing</h1>
        <h2 class="mt0 fw4 f2 cormorant">Inquiries into being effective in the modern world of work</h2>
      </div>
    
      <div class="flex-wrap tl mv4 w-50-l">
        <div class="pv2 w-100">Join the free weekly newsletter</div>  
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/newmba"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
        class="embeddable-buttondown-form flex items-center"
      >
        <input placeholder="Email Address" type="email" id="bd-email" name="email" class="w-75 f5 input-reset ba b--black-20 pv3 ph4 border-box br2 mr2">
        <input type="submit" value="Submit" class="input-reset w-25 w-auto-ns bg-newmba-green black f5 pv3 ph4-l ph2 ba b--newmba-green bg-hover-mid-gray br2">
      </form>


      </div>

    </div>

</div>



<div class="mw8 center ph2">

<div class="pv2 tracked newmba-green">LATEST WRITING</div>

    {% for post in site.posts %}

    <a class="pv4 flex" href="{{post.url}}">

        <div class="w-third pr2-l">
            <img src="{{post.og}}" />
        </div>

        <div class="w-two-thirds pl2-l">
            
            <div class="f3">{{post.title}}</div>
            <div class="f4">{{post.subtitle}}</div>
            <div class="black-30 f5 tracked TTU">{{ post.date | date: "%B %-d, %Y" }}</div>
            
        </div>

    </a>

    
    {% endfor %}

</div>

</div>

{% include footer.html %}