{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <h1 class="headline cormorant fw5 mb2">{{page.title}}</h1>
        <h2 class="mt0 fw4 f2 cormorant">{{page.subtitle}}</h2>
      </div>
    
      <div class="flex pv4">
        <div class="w-50 f3 nunito">
        <span class="newmba-green">For executives</span> in times of transition, I help provide strategic clarity through a blended mixture of coaching and consulting.
        <br><br>
        <span class="newmba-green">For teams</span> seeking more influence, I can provide training, coaching and support to ensure your work is having the right impact internally.
        <br><br>
        <a class="br2 pa2 pa3-l bg-newmba-green dib grow f4 link newmba-offwhite b" href="https://calendly.com/tomcritchlow">Book a Call</a>
        </div>
        <div class="w-50 tc">
        <img class="pv2" src="/images/clients/clients.svg">
        </div>
        </div>

    </div>

</div>




<div class="bg-newmba-offwhite w-100">
<div class="mw7 center f2 cormorant i pv5">
“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”
<div class="tr nunito pv4 f4">Jeremy Cabral - COO & Co-founder, Finder</div>
</div>
</div>

<div class="bg-newmba-dark-green w-100">
    <div class="mw8 center ph2">
        <h2>Example Projects</h2>

        <div class="ba br4 pa3">
            <div class="h3">Product Innovation Sprint</div>
            <div class="nunito">The New York Times</div>
        </div>

        </div>

</div>
Core capabilities
* Strategy Workshops
* P&L and revenue forcasting
* Content Strategy
* Commerce 
* Product innovation
