{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90-l">
        <h1 class="headline cormorant fw5 mb2">{{page.title}}</h1>
        <h2 class="mt0 fw4 f2 cormorant">{{page.subtitle}}</h2>
      </div>
    
      <div class="flex-l flex-wrap pv4">
        <div class="w-50-l f3 nunito">
        <span class="newmba-green">For executives</span> in times of transition, I help provide strategic clarity through a blended mixture of coaching and consulting.
        <br><br>
        <span class="newmba-green">For teams</span> seeking more influence, I can provide training, coaching and support to ensure your work is having the right impact.
        <br><br>
        <a class="br2 pa2 pa3-l bg-newmba-green dib grow f4 link newmba-offwhite" href="https://calendly.com/tomcritchlow">Book a Call</a>
        </div>
        <div class="w-50-l tc pt4 pt0-l">
        <img class="w-75" src="/images/clients/clients.svg">
        </div>
        </div>

    </div>

</div>




<div class="bg-newmba-offwhite w-100 ph2">
<div class="mw7 center f2 cormorant i pv5 fw5 ph3 ph0-l">
“Tom is a <span class="newmba-green b">CEO Whisperer</span>. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.”
<div class="tr nunito pv4 f4 fw4">Jeremy Cabral - COO & Co-founder, Finder</div>
</div>
</div>

<div class="bg-newmba-dark-green newmba-offwhite ph2">
<div class="mw8 center pv4">
    <h2 class="cormorant f1">Example Projects</h2>
  
    <div class="mw7 f3 lh-copy">
    Working at the intersection of growth and product I think of clients like partners and typically don’t get hired to make spreadsheets. I’ll make the spreadsheets anyway, but you hire me to care about your business.
    
    <ul>
        <li class="pv2"><strong>Positioning & Narrative</strong>. Helping companies refine their narrative, internally and externally. This process of narrative strategy requires careful listening, research and creative craft.
        <div class="pl2 newmba-green i">Example: Grounded in customer research I supported Directive Consulting in positioning their services to create differentiation, then translating that through marketing, sales and operations to create a unified approach.</div>
        </li>
        <li class="pv2"><strong>Content & Audience Development</strong>. With a deep background in SEO and content strategy I help companies put together SEO budgets, create content strategy and invest in audience development.
        <div class="pl2 newmba-green i">Example: Working directly with the CPO I helped Angi group create a new appraoch to product-led SEO with a multi-million dollar budget approved by the board, then hired a VP of SEO to lead the new team.</div>  
        </li>
        <li class="pv2"><strong>Product Innovation</strong>. With a keen sense of how innovation works inside large organizations I help teams create new user-first ideas combining feasibility, iteration and distribution.
        <div class="pl2 newmba-green i">Example: Working with senior leadership at The New York Times I helped assemble a small team to research, ideate and prototype new approaches to travel content.</div>  
        </li>
        <li class="pv2"><strong>Executive Advisor</strong>. Embedding support for executive teams that need help aligning, getting clarity about their strategy and operating effectively.
        </li>
    </ul>
    </div>
    
    <h2 class="cormorant f1">About Tom Critchlow</h2>  
    
    <div class="flex-l">
        <div class="w-third-l pr3-l">
            <img class="ba2 shadow-5 br2" src="/images/tom.jpg" />
        </div>
        <div class="w-two-thirds-l pl2-l f3 lh-copy">
          <p>Starting my career in SEO allowed me to get a deep, grounded understanding of "how the web works". Working at places like Google and consulting with companies of all shapes and sizes gave me a good understanding of "how business works".</p>
          <p>Throughout my career I've been obsessed with the question of how to be effective. Recognizing that to be effective requires understanding the humans, the systems and the incentives at work.</p>
          <p>I'm based in Brooklyn and love new opportunities.</p>
            <p>Interested? Book <a class="link newmba-green" href="https://calendly.com/tomcritchlow">time to chat here</a>.</p>
            
        </div>

    </div>

    

  </div>
</div>


{% include footer.html %}