{% include head.html %}

{% include nav.html color="dark" %}

<div class="mw8 center ph4-l ph2">

    <div class="flex w-100">
        <div class="w-10"></div>
        <div class="w-80"><h2>{{page.title}}</h2></div>
        <div class="w-10"></div>
    </div>

    <div class="flex w-100 mv3 bb b--black-50">
        <div class="w-10">LINK</div>
        <div class="w-80"><div class="flex"><img class="mr2 v-mid br-100 ba b--newmba-green" src="https://www.google.com/s2/favicons?domain={{page.link}}"> <span class="black-70 i">{{ page.link | split: "//" | last | split: "/" | first }}</span> <a class="link newmba-green" href="{{page.link}}">view source ↗</a></div></div>
        <div class="w-10"></div>
    </div>    

    <div class="flex w-100">
        <div class="w-10"><div class="f7 ttu bt b--black-20 newmba-green pv3">description</div></div>
        <div class="w-80"><div>{{page.description}}</div></div>
        <div class="w-10"></div>
    </div>    

    <div class="flex w-100">
        <div class="w-10"><div class="f7 ttu bt b--black-20 newmba-green pv3">quotes</div></div>
        <div class="w-80"><div>
            {% for insight in page.insights %}
            <p class="i">{{insight}}</p>
            {% endfor %}
        </div></div>
        <div class="w-10"></div>
    </div>        
    
</div>