{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green">

<div class="newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <img src="/images/library-logo-white.svg"/>
        <h2 class="mt0 fw4 f2 cormorant">A curated set of resources from the NEW MBA</h2>
      </div>
      
    </div>
</div>

<div class="w-100">

  <div class="">
    <div class="overflow-auto">
      <table class="f6 w-100 center" cellspacing="0">
        <thead class="newmba-green">
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3">Title</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3">Source</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3">Tags</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3">Type</th>
          </tr>
        </thead>
        <tbody class="lh-copy bg-newmba-offwhite">
          {% for item in site.library %}
          <tr class="dim pointer expandable">
            <td class="pv3 pr3 bb b--black-20">
              <div class="flex items-top">
                
                <div class="">
                  <a target="_blank" href="{{item.link}}">{{item.title}}</a>
                </div>
              </div>
              
            </td>

            <td class="pv3 pr3 bb b--black-20"><img class="pr2 pt1" src="https://www.google.com/s2/favicons?domain={{item.link}}"> <span class="black-70 i">{{ item.link | split: "//" | last | split: "/" | first }}</span></td>
            
            <td class="pv3 pr3 bb b--black-20">
              {% for tag in item.tags %}
              {{tag}}
              {% endfor %}
            </td>
            <td class="pv3 pr3 bb b--black-20">{{ page.type}}</td>
            <td class="pv3 pr3 bb b--black-20">+</td>
          </tr>                  
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>


<!--New div approach-->

<div class="w-100">

  <!--Header row-->
  <div class="newmba-green flex ph3">
    <div class="w-40">Title</div>
    <div class="w-10">Source</div>
    <div class="w-10 dn db-l">Type</div>
    <div class="w-30 dn db-l">Tags</div>
    <div class="w-10"></div>
  </div>

  <!--Table-->
  <div class="">
    {% for item in site.library %}
    <div class="expandable dim pointer pv3 ph3 bt bb b--newmba-green flex bg-newmba-offwhite">
      <div class="w-40">{{item.title}}</div>
      <div class="w-10"><img class="pr2 pt1" src="https://www.google.com/s2/favicons?domain={{item.link}}"> <span class="black-70 i">{{ item.link | split: "//" | last | split: "/" | first }}</span></div>
      <div class="w-10 dn db-l">{{item.type}}</div>
      <div class="w-30 dn db-l">Tags</div>
      <div class="w-10">+</div>
    </div>
    <div class="hidden-row dn bg-newmba-offwhite pv3">
      <div class="w-40 pv2">
        <img src="{{item.image}}">
      </div>

      <div class="w-40">
        Some more info here.
      </div>
    </div>
    {% endfor %}
  </div>

</div>

</div>





</div>

<script>
$(document).ready(function() {
  $(".expandable").click(function() {
    // Toggle the next row
    $(this).next('.hidden-row').toggle();
  });
});
</script>

{% include footer.html %}





