{% include head.html %}

<div class="mw9 w-100 ph2 ph4-l flex pv2 bb b--newmba-green items-center h3 justify-between center navcontainer newmba-offwhite bg-newmba-dark-green" style="position:sticky">
  <img src="/images/library-logo-white.svg"/>

  <div class="">
    <input id="librarysearch" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Search the library">

  </div>

  <div>
    <a class="link newmba-offwhite" href="/">Back home	→</a>
  </div>
</div>





<div class="bg-newmba-offwhite">

  <div class=" w-100 pv4">
      <div class="mw8 center ph2">
        <div class="w-90">
          <h1 class="f1 cormorant fw5 mb2">Welcome to the NEW MBA Library</h1>
          <h2 class="mt0 fw4 f2 cormorant">A curated list of the best career resources</h2>
        </div>

        <div class="">

          <div class="">
            <div class="overflow-auto">
              <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                  <tr>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Title</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Author</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Tags</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Type</th>
                    <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Notes</th>
                  </tr>
                </thead>
                <tbody class="lh-copy">
                  {% for item in site.library %}
                  <tr>
                    <td class="pv3 pr3 bb b--black-20">
                      <a href="{{item.url}}">{{item.title}}</a>
                      <span>{{ item.url | split: "//" | last | split: "/" | first }}</span>
                    </td>
                    <td class="pv3 pr3 bb b--black-20">{{item.author}}</td>
                    <td class="pv3 pr3 bb b--black-20">
                      {% for tag in items.tags %}
                      {{tag}}
                      {% endfor %}
                    </td>
                    <td class="pv3 pr3 bb b--black-20">{{ page.content | number_of_words }}</td>
                  </tr>                  
                  {% endfor %}
                  <tr>
                    <td class="pv3 pr3 bb b--black-20">Hassan Johnson</td>
                    <td class="pv3 pr3 bb b--black-20">@hassan</td>
                    <td class="pv3 pr3 bb b--black-20">hassan@companywithalongdomain.co</td>
                    <td class="pv3 pr3 bb b--black-20">14419232532474</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>


        </div>
        

      </div>
  </div>


</div>