{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green pv4">

<div class="newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <img src="/images/library-logo-white.svg"/>
        <h2 class="mt0 fw4 f2 cormorant">A curated set of resources from the NEW MBA</h2>
        
      </div>
      
    </div>
</div>

<!--New div approach-->

<div class="mw9 ph4" id="results">

{% assign num_sources = site.library.size | minus: 1 %}
{% assign num_quotes = 0 %}
{% for item in site.library %}
  {% for quote in item.insights %}
    {% assign num_quotes = num_quotes | plus :1 %}
  {% endfor %}
{% endfor %}

  <!--Header row-->
  <div class="w-100 center ph2 bg-newmba-dark-green bb b--newmba-green" style="position:sticky;top:0px;">
    <div class="mw8 center">
    <div class="newmba-green flex pv3 f5 b mw9 center justify-between">
    <div class="flex items-center white f4">
      <div class="mr4"><a class="newmba-offwhite link" href="/library/">QUOTES <span class="f7 newmba-green v-top">{{num_quotes}}</span></a></div>
      <div class="mr4"><a class="newmba-offwhite link"  href="/library/sources/">SOURCES <span class="f7 newmba-green v-top">{{num_sources}}</span></a></div>
      <div class="mr4"><a class="newmba-offwhite link" href="/tags/">TAGS</a></div>
    </div>
    <div class="flex items-center">
      <div class="pr2">Search: </div> 
      <div class="flex">
        <input type="text" id="searchBox" placeholder="Search items..." class="pa2 i" />
        <div id="closebox" class="pointer underline f7 dn pl2">clear</div>
      </div>
    </div>
  </div>
  </div>
</div>

{{content}}


<!--Search box-->
<script>

  //Highlighter function
  const searchHighlighter = (elem, keyword) => {
    let el = elem;
        el.innerHTML = el.innerText
          .replace( new RegExp( keyword + '(?!([^<]+)?<)', 'gi'),
          '<mark>$&</mark>'
      );
    return el
  }
  
    // Event listener for the search box
  document.getElementById('searchBox').addEventListener('input', function(e) {
    const searchTerm = e.target.value.toLowerCase(); // Convert search term to lower case
    const closebox = document.getElementById("closebox");
  
    //scroll so input box at top of page (TODO make sticky?)
    const inputRect = document.getElementById("results").getBoundingClientRect();
    window.scrollTo({
        top: inputRect.top + window.pageYOffset,
        behavior: 'smooth'
      });
  
    // show/hide the "clear search" link
    if(searchTerm.length > 0){
      closebox.classList.remove("dn");
    } else{
      closebox.classList.add("dn");
    }
    const items = document.querySelectorAll('.item'); // Get all items
    
    // remove all highlighting
    $('mark').contents().unwrap();
    
    // Loop through all items and hide those that don't match the search term
    items.forEach(function(item) {
      var itemTitle = item.getAttribute('data-item-title').toLowerCase(); // Convert title to lower case
      var itemSource = item.getAttribute('data-item-source').toLowerCase(); // Convert source to lower case
      if(item.hasAttribute('data-item-insight')){ // check if item has insights
        var itemInsight = item.getAttribute('data-item-insight').toLowerCase(); // Convert source to lower case
      } else{
        var itemInsight = "";
      };
  
      if (itemTitle.includes(searchTerm) || itemSource.includes(searchTerm) || itemInsight.includes(searchTerm)) {
        item.classList.remove('dn'); // Show item
        item.classList.add('db'); // Show item
        if(itemInsight != ""){ // check if insights are shown
          searchHighlighter(item.querySelector(".itemtext"), searchTerm);
        }
        searchHighlighter(item.querySelector(".itemtitle"), searchTerm);
      } else {
        item.classList.add('dn'); // Hide item
        item.classList.remove('db'); // Hide item
        
      }
    });
  });
  
  // Event listener for the clear search link
  document.getElementById('closebox').addEventListener('click', function(e) {
    e.preventDefault(); // Prevent default link action
  
    // Clear the search box
    const searchBox = document.getElementById('searchBox');
    searchBox.value = '';
    e.target.classList.add("dn");
  
  
    // Show all items
    const items = document.querySelectorAll('.item');
    // remove all highlighting
    $('mark').contents().unwrap();
    items.forEach(function(item) {
      item.classList.remove('dn');
      item.classList.add('db');
    });
  });
  </script>

{% include footer.html %}