{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green pv4">

<div class="newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <img src="/images/library-logo-white.svg"/>
        <h2 class="mt0 fw4 f2 cormorant">A curated set of resources from the NEW MBA</h2>
        <div class="flex items-center">
          <input type="text" id="searchBox" placeholder="Search items..." class="pa2 i w-50-l" />
          <div id="closebox" class="pointer underline f7 dn pl2">clear</div>
        </div>
        
      </div>
      
    </div>
</div>

<!--New div approach-->

<div class="w-100">

  <!--Header row-->
  <div class="mw8 center ph2 bg-newmba-dark-green" style="position:sticky;top:10px;">
  <div class="newmba-green flex ph4 pv3 f5 b mw9 center">
    <div>QUOTES</div>
    <div>SOURCES</div>
    <div>TAGS</div>
  </div>
</div>

  <!--Table-->
  <div class="w-100 center flex">

  {% for item in site.library %}
  {% for insight in item.insights %}
  
  <div class="ba bg-newmba-offwhite w-third pa4 f4 ma3">
    <div class="i lh-copy">“{{insight |truncatewords: 60}}”</div>
    <div class="f5 pv3">
      <div class="b pv1">{{item.title}}</div>
      <div class="w-20-l w-100 flex"><img class="pr2 v-mid" src="https://www.google.com/s2/favicons?domain={{item.link}}"> <span class="black-70 i">{{ item.link | split: "//" | last | split: "/" | first }}</span></div>
    </div>
  </div>
  
  {% endfor %}
  {% endfor %}
</div>


{% include footer.html %}





