{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green pv4">

<div class="newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <img src="/images/library-logo-white.svg"/>
        <h2 class="mt0 fw4 f2 cormorant">A curated set of resources from the NEW MBA</h2>
        <div class="flex items-center">
          <input type="text" id="searchBox" placeholder="Search items..." class="pa2 i w-50-l" />
          <div id="closebox" class="pointer underline f7 dn pl2">clear</div>
        </div>
        
      </div>
      
    </div>
</div>

<!--New div approach-->

<div class="w-100">

  <!--Header row-->
  <div class="mw8 center ph2">
  <div class="newmba-green flex ph4 pv3 f5 b mw9 center">
    <div class="w-40">Title</div>
    <div class="w-20">Source</div>
    <div class="w-10 dn db-l">Type</div>
    <div class="w-20 dn db-l">Tags</div>
    <div class="w-10"></div>
  </div>
</div>

  <!--Table-->
  <div class="w-100 bg-newmba-offwhite">
  <div class="f6 mw8 center ph2">
    {% for item in site.library %}
    <div class="expandable dim pointer pv3 bt bb b--newmba-green flex-l flex-wrap bg-newmba-offwhite mw9 center item" data-item-title="{{item.title}}" data-item-source="{{item.link}}">
      <div class="w-40-l w-100 b">{{item.title}}</div>
      <div class="w-20-l w-100"><img class="pr1 v-mid" src="https://www.google.com/s2/favicons?domain={{item.link}}"> <span class="black-70 i">{{ item.link | split: "//" | last | split: "/" | first }}</span></div>
      <div class="w-10 dn db-l">{{item.type | downcase}}</div>
      <div class="w-20 dn db-l">{% for tag in item.tags %}{{tag | downcase}}{% endfor %}</div>
      <div class="w-10 dn db-l tr"><span class="plus">+</span></div>
    </div>
    
    <!--Item details div-->
    <div class="hidden-row dn bg-newmba-offwhite pv3">
      <div class="flex-wrap flex-l">
      <div class="w-40-l w-100 pv2 ph4-l">
        <img src="{{item.image}}">
      </div>

      <div class="w-40-l w-100">
        <span class="code ttu f7 newmba-green">Title:</span> {{item.title}}
        <br><br><span class="code ttu f7 newmba-green">Type:</span> {{item.type | downcase}}
        <br><br><span class="code ttu f7 newmba-green">Tags:</span> {% for tag in item.tags %}{{tag | downcase}}{% endfor %}
        <br><a href="{{item.link}}" target="_blank" class="pv2 dib pa2 ba br2 bg-newmba-green white b--newmba-green f6 ttu link"><img src="/images/external-link.svg" class="v-mid pr1 h1"/>Open Link</a>
        {% if item.content | number_of_words > 75 %}
        <div class="i f5 black-50">{{ item.content | truncatewords: 75 }} <a href="{{ item.url }}">read more</a></div>
     {% else %}
        <div>{{ item.content }}</div>
     {% endif %}
        
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>

</div>





</div>

<!--Open/Close items-->
<script>
$(document).ready(function() {
  $(".expandable").click(function() {
    $(this).toggleClass("bb");
    if ($(this).find(".plus").text() === '+') {
          $(this).find(".plus").text('-');
        } else {
          $(this).find(".plus").text('+');
        }
    $(this).next('.hidden-row').toggleClass("flex");
  });
});
</script>

<!--Search box-->
<script>
  // Event listener for the search box
document.getElementById('searchBox').addEventListener('input', function(e) {
  const searchTerm = e.target.value.toLowerCase(); // Convert search term to lower case
  const closebox = document.getElementById("closebox");

  //scroll so input box at top of page (TODO make sticky?)
  const inputRect = document.getElementById("searchBox").getBoundingClientRect();
  window.scrollTo({
      top: inputRect.top + window.pageYOffset,
      behavior: 'smooth'
    });

  // show/hide the "clear search" link
  if(searchTerm.length > 0){
    closebox.classList.remove("dn");
  } else{
    closebox.classList.add("dn");
  }
  const items = document.querySelectorAll('.item'); // Get all items

  // Loop through all items and hide those that don't match the search term
  items.forEach(function(item) {
    const itemTitle = item.getAttribute('data-item-title').toLowerCase(); // Convert title to lower case
    const itemSource = item.getAttribute('data-item-source').toLowerCase(); // Convert source to lower case

    if (itemTitle.includes(searchTerm) || itemSource.includes(searchTerm)) {
      item.classList.remove('dn'); // Show item
      item.classList.add('flex-l'); // Show item
      item.classList.add('flex-wrap'); // Show item
    } else {
      item.classList.add('dn'); // Hide item
      item.classList.remove('flex-l'); // Hide item
      item.classList.remove('flex-wrap'); // Hide item
    }
  });
});

// Event listener for the clear search link
document.getElementById('closebox').addEventListener('click', function(e) {
  e.preventDefault(); // Prevent default link action

  // Clear the search box
  const searchBox = document.getElementById('searchBox');
  searchBox.value = '';
  e.target.classList.add("dn");


  // Show all items
  const items = document.querySelectorAll('.item');
  items.forEach(function(item) {
    item.classList.remove('dn');
    item.classList.add('flex');
  });
});
</script>

{% include footer.html %}





