{% include head.html %}

{% include nav.html color="dark" %}

<div class="bg-newmba-dark-green pv4">

<div class="newmba-offwhite w-100 pv4">
    <div class="mw8 center ph2">
      <div class="w-90">
        <img src="/images/library-logo-white.svg"/>
        <h2 class="mt0 fw4 f2 cormorant">A curated set of resources from the NEW MBA</h2>
        
      </div>
      
    </div>
</div>

<!--New div approach-->

<div class="mw9 ph4" id="results">

  <!--Header row-->
  <div class="w-100 center ph2 bg-newmba-dark-green bb b--newmba-green" style="position:sticky;top:0px;">
  <div class="newmba-green flex ph4 pv3 f5 b mw9 center justify-between">
    <div class="flex items-center white">
      <div class="mr2">QUOTES</div>
      <div class="mr2">SOURCES</div>
      <div class="mr2">TAGS</div>
    </div>
    <div class="flex items-center">
      Search: 
      <div class="flex">
        <input type="text" id="searchBox" placeholder="Search items..." class="pa2 i w-50-l" />
        <div id="closebox" class="pointer underline f7 dn pl2">clear</div>
      </div>
    </div>
    
  </div>
</div>

  <!--Table-->
  <div class="w-100 center flex flex-wrap">

  {% for item in site.library %}
  {% for insight in item.insights %}
  
  <div class="w-third-l w-100 pa3 item" data-item-title="{{item.title}}" data-item-source="{{item.link}}" data-item-insight="{{insight}}">
    <div class="pa4 bg-newmba-offwhite f5">
    <div class="flex justify-between pb3 f6">
      <div class="newmba-green ttu">{{item.type}}</div>
      <div class="b newmba-purple">{% for tag in item.tags %}#{{tag}}{% endfor %}</div>
    </div>
      <div class="i lh-copy b">“{{insight |truncatewords: 60}}”</div>
    <div class="f6 pt3">
      <div class="pb2">{{item.title}}</div>
      <div class="w-20-l w-100 flex"><img class="mr2 v-mid br-100 ba b--newmba-green" src="https://www.google.com/s2/favicons?domain={{item.link}}"> <span class="black-70 i">{{ item.link | split: "//" | last | split: "/" | first }}</span></div>
    </div>
  </div>
  </div>
  
  {% endfor %}
  {% endfor %}
</div>

<!--Search box-->
<script>
  // Event listener for the search box
document.getElementById('searchBox').addEventListener('input', function(e) {
  const searchTerm = e.target.value.toLowerCase(); // Convert search term to lower case
  const closebox = document.getElementById("closebox");

  //scroll so input box at top of page (TODO make sticky?)
  const inputRect = document.getElementById("results").getBoundingClientRect();
  window.scrollTo({
      top: inputRect.top + window.pageYOffset,
      behavior: 'smooth'
    });

  // show/hide the "clear search" link
  if(searchTerm.length > 0){
    closebox.classList.remove("dn");
  } else{
    closebox.classList.add("dn");
  }
  const items = document.querySelectorAll('.item'); // Get all items

  // Loop through all items and hide those that don't match the search term
  items.forEach(function(item) {
    const itemTitle = item.getAttribute('data-item-title').toLowerCase(); // Convert title to lower case
    const itemSource = item.getAttribute('data-item-source').toLowerCase(); // Convert source to lower case

    if (itemTitle.includes(searchTerm) || itemSource.includes(searchTerm)) {
      item.classList.remove('dn'); // Show item
      item.classList.add('db'); // Show item
    } else {
      item.classList.add('dn'); // Hide item
      item.classList.remove('db'); // Hide item
      
    }
  });
});

// Event listener for the clear search link
document.getElementById('closebox').addEventListener('click', function(e) {
  e.preventDefault(); // Prevent default link action

  // Clear the search box
  const searchBox = document.getElementById('searchBox');
  searchBox.value = '';
  e.target.classList.add("dn");


  // Show all items
  const items = document.querySelectorAll('.item');
  items.forEach(function(item) {
    item.classList.remove('dn');
    item.classList.add('db');
  });
});
</script>

{% include footer.html %}





