{% include head.html %}

<div class="">

{% include nav.html color="dark" %}

<div class="mw7 ph3 center mt5">
    <h1 class="nunito f1 fw6 lh-solid mv1 posttitle p-name">{{page.title}}</h1>
    <h2 class="nunito f3 fw4 lh-copy mt1 subtitle p-summary">{{page.subtitle}}</h1>
    <div class="bt bb pv3 b--black-10">
        <div class="flex justify-between items-center">

            <div class="flex items-center">
                <img class="h2 br-100 mr2" src="/images/tom-small.webp" />
                <div>
                    <div class="f7 ttu pv1">Tom Critchlow</div>
                    <div class="f7 black-50">{{ page.date | date: "%B %-d, %Y" }}</div>
                </div>
            </div>

            <div class="flex items-center relative">
                <div class="br-pill black-50 f6 ba ph3 pv2 dim link mr2 relative pointer" id="shareBtn">Share</div>
                <div id="shareDropdown" class="dn absolute pv3 right-0 top-0 br3 mt4 tr">
                    <a class="br-pill newmba-green bg-white f6 ba ph3 pv2 dim link mv3" href="http://twitter.com/share?url=https://newmba.co{{page.url}}" target="_blank">Twitter</a>
                    <a class="br-pill newmba-green bg-white f6 ba ph3 pv2 dim link mv3" href="https://www.facebook.com/sharer/sharer.php?u=https://newmba.co{{page.url}}" target="_blank">Facebook</a>
                    <a class="br-pill newmba-green bg-white f6 ba ph3 pv2 dim link mv3" href="https://www.linkedin.com/sharing/share-offsite/?url=https://newmba.co{{page.url}}" target="_blank">LinkedIn</a>

                    
                    
                  </div>
            </div>
            

        </div>
    </div>
    <div class="content">
        {{content}}
    </div>

<div class="bt b--newmba-green">
    <div class="flex-wrap tl mv4 w-50-l">
        <div class="pv2 w-100">Join the free weekly newsletter</div>  
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/newmba"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/newmba', 'popupwindow')"
        class="embeddable-buttondown-form flex items-center"
      >
        <input placeholder="Email Address" type="email" id="bd-email" name="email" class="w-75 f5 input-reset ba b--black-20 pv3 ph4 border-box br2 mr2">
        <input type="submit" value="Submit" class="input-reset w-25 w-auto-ns bg-newmba-green black f5 pv3 ph4-l ph2 ba b--newmba-green bg-hover-mid-gray br2">
      </form>


      </div>
</div>

</div>



</div>


<script>

document.addEventListener('DOMContentLoaded', function() {
  const shareBtn = document.getElementById('shareBtn');
  const shareDropdown = document.getElementById('shareDropdown');

  shareBtn.addEventListener('click', function() {
    
      if (navigator.share) {
        navigator.share({
          title: 'My Website',
          text: 'Check out my website.',
          url: window.location.href,
        });
      } else {
        toggleDropdown();
      }
    
  });



  function toggleDropdown() {
    if (shareDropdown.classList.contains('dn')) {
      shareDropdown.classList.remove('dn');
    } else {
      shareDropdown.classList.add('dn');
    }
  }
});


</script>

{% include footer.html %}