{% include head.html %}

<div class="">

{% include nav.html color="dark" %}

<div class="mw7 ph3 center mt5">
    <h1 class="nunito f1 fw6 lh-solid mv1 posttitle p-name">{{page.title}}</h1>
    <h2 class="nunito f3 fw4 lh-copy mt1 subtitle p-summary">{{page.subtitle}}</h1>
    <div class="bt bb pv3 b--newmba-green">
        <div class="flex justify-between items-center">

            <div class="flex items-center">
                <img class="h2 br-100" src="/images/tom-small.webp" />
                <div>
                    <div>Tom Critchlow</div>
                    <div>{{ post.date | date: "%B %-d, %Y" }}</div>
                </div>
            </div>

            <div>
                <div class="br-pill black-50 f6">Share</div>
                <div class="br-100"><img src="/images/link.svg" /></div>
            </div>
            

        </div>
    </div>
    <div class="content">
        {{content}}
    </div>

</div>

<div class="mw8 center bt b--newmba-green">
    <div class="w-third br b--newmba-green">
        Article info
    </div>
    <div class="w-two-thirds">
        Related reading
    </div>


</div>



</div>

{% include footer.html %}