
<script src="https://unpkg.com/lunr/lunr.js"></script>

<input type="text" id="search" placeholder="Search">
<div id="results"></div>

<script>
var idx;
var data;

fetch("https://newmba.co/search.json")
  .then(response => response.json())
  .then(fetchedData => {
    data = fetchedData;
    idx = lunr(function () {
      this.field('title')
      this.field('content')

      data.forEach(function (doc) {
        this.add(doc)
      }, this)
    })
  });

function search(query) {
  return idx.search(query).map(function (result) {
    return data.filter(function (page) {
      return page.url === result.ref
    })[0]
  })
}

document.getElementById('search').addEventListener('input', function () {
  if (!idx) {
    console.log('Index is not ready');
    return;
  }
  var results = search(this.value)
  var resultsDiv = document.getElementById('results')
  resultsDiv.innerHTML = ''
  results.forEach(function (result) {
    var div = document.createElement('div')
    div.innerHTML = '<a href="' + result.url + '">' + result.title + '</a>'
    resultsDiv.appendChild(div)
  })
})
</script>
